
body{

  --dark: #1f2937;

}

body, header{
  background-color: var(--dark);
  
}

html {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

body {
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between ;
  height: 100%;
  box-sizing: border-box;

}

.contentContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-grow: 1;
}

header {

  color: white;
  height:150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 0 1 auto;

}

.headerTitle {
  color: white;
  font-weight: 900;
  font-size: 2rem;
}

.headerDetails {
  color: white;
}

.content {
  display: flex;
  flex: 1 1 auto;
  align-self: stretch;
}

footer {
  background:#6b7280 ;
  color: white;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  flex: 1;
  min-width:500px
}



@media screen and (max-width: 850px){
  .contentContainer{
    display: flex;
    flex-direction: column;
  }
}